<div id="message-<%= message.id %>",
      class="message <%= message.user === user ? 'sent' : 'received' %>"
      data-controller="message"
      data-message-user-id-value="<%= message.user.id %>">
  <div class="message-info fs-8 mb-2">
    <i><%= message.created_at.strftime("%a %b %e") %></i>
  </div>

  <div class="message-content">
    <i class="fa-solid fa-moon fs-4"></i>
    <div class="fs-8">
      <%= message.created_at.strftime("%H:%M") %>
    </div>
    <%= message.content %>
  </div>
</div>
