<div class="subscription-step">
  <div>
    <h2>Start your skill matching journey ! ðŸ’ª</h2>
  </div>

  <div class="category-container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
  </div>
  <div class="form-navigation-signup">
    <%#= link_to 'â® PREVIOUS', "#", class: "btn disabled" %>
    <%= f.button :submit, 'Sign up', class: "btn" %>
  </div>
    <% end %>

  </div>
</div>
