<div class="swipe" data-controller="swiper">
  <div class="swipe__status">
    <i class="swipe__button--refuse fa fa-remove"></i>
    <i class="swipe__button--accept fa fa-check"></i>
  </div>

  <div class="mx-auto mt-8">
  <h1>Find Your skill</h1>
  <h2 class="d-xl-none">Time to swipe</h2>
  </div>
  <div class="swipe__cards">
    <% @users.each do |user| %>
      <div id="<%= user.id %>" class="swipe__card border border-2 shadow" data-swiper-target="card">
        <div class="swipe__card__box">
          <%= render "shared/avatar", user: user %>
          <button class="shadow" data-swiper-target="follow" data-action="click->swiper#clickFollow">
            <i class="text-secondary fa-solid fa-bookmark"></i>
          </button>
          <div class="swipe__card__body text-start py-2 px-4">
            <h3 class="text-light"><%= user.username %></h3>
            <h2 class="text-light fw-bold">
              <% r1 = @current_user_skills_preference[:wanted] & user.proposed_skills.pluck(:name) %>
              <% if r1 == [] %>
                <% skill_name = user.proposed_skills[0].name %>
                <% if skill_name.length > 15 %>
                  <h3 class="text-light">
                  <%= user.proposed_skills[0].name %>
                  </h3>
                <% else %>
                  <%= user.proposed_skills[0].name %>
                <% end %>
              <% else %>
                <%= r1[0] %>
                <% if r1.length > 1 %>
                  <i class="fs-4 fa-solid fa-ellipsis opacity-75"></i>
                <% end %>
            <% end %>
            </h2>
            <p class="text-light">
              <%= user.wanted_skills[0].name %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <% unless @all == true %>
      <div class="swipe__card border border-2 shadow" data-swiper-target="card" id="filtered">
        <div class="swipe__card__box"
             style="background:center/cover url(https://partyanimals.com/media/museum/media_museum_11.jpg);">
          <div style="background:rgba(255, 255, 255, 0.5);height:35%">
              <h3 class="text-primary pt-6 fw-bold">You've finished the card pile!</h3>
              <h2 class="text-primary-emphasis">See other profils who may interest you?</h2>
          </div>
        </div>
        <div style="position:absolute;bottom:40px;left:0;right:0;margin:auto">
            <a href="#" class="btn btn-primary" style="z-index:2000">Go to matchlist</a>
            <a href="/likes?all=" class="btn btn-primary">See more profils</a>
        </div>
      </div>

    <% else %>
      <div class="swipe__card border border-2 shadow" data-swiper-target="card" id="all">
        <div class="swipe__card__box" style="background:center/cover url(https://partyanimals.com/media/museum/media_museum_13.jpg);">
        <div style="background:rgba(255, 255, 255, 0.5);height:35%">
            <h3 class="text-primary pt-6 fw-bold">No more profils for the moment...</h3>
            <h2 class="text-primary-emphasis">You're a real swiper!</h2>
        </div>
            <a href="#" class="btn btn-primary mt-11">Check my matchlist</a>
        </div>
      </div>
    <% end %>

  </div>

  <div class="swipe__buttons d-none d-lg-block">
    <button data-swiper-target="refuse" data-action="click->swiper#clickRefuse" ><i class="swipe__button--refuse fa fa-remove"></i></button>
    <button data-swiper-target="accept" data-action="click->swiper#clickAccept" ><i class="swipe__button--accept fa fa-check"></i></button>
  </div>

</div>
