<ul class="list-group" style="list-style: none;">
  <% user_list.each do |user| %>
  <li class="shadow mb-3 mx-3 p-3 row rounded">
    <div class="col-auto px-0">
      <%= render 'shared/avatar', user: user, class_name: "avatar-square rounded" %>
    </div>
    <div class="col">
      <div class="fw-bold inline">
        <%= user.username %>
      </div>
      <div>
        <% r1 = current_user_wanted_skills & user.proposed_skills.pluck(:name) %>
        <% if r1 == [] %>
          <% skill_name = user.proposed_skills[0].name %>
          <% if skill_name.length > 15 %>
            <h3 class="text-light">
              <%= user.proposed_skills[0].name %>
            </h3>
          <% else %>
            <%= user.proposed_skills[0].name %>
          <% end %>
        <% else %>
          <%= r1[0] %>
        <% if r1.length > 1 %>
          <i class="fs-6 fa-solid fa-ellipsis opacity-75"></i>
        <% end %>
      <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
