<div class="popup-container" data-controller="toggle">
  <%# <i class="fa-solid fa-x close-popup"></i> %>
  <h1>It's a Match!</h1>
  <div class="profile-images mb-5">
    <%= render 'shared/avatar', user: current_user, class_name: "avatar" %>
    <%= image_tag "popup-logo.png", alt: "popup logo", class: "popup-logo" %>
    <%= render 'shared/avatar', user: liked, class_name: "avatar" %>
  </div>
  <p class="pt-3">You and <%= liked.username %> have liked each other.</p>
  <div class="button-container row">
    <div class="col-12 mb-5">
      <%= link_to 'Send a Message', matchs_path, class: 'button-swipe' %>
    </div>
    <div class="col-12">
      <%= link_to 'Keep Swiping', likes_path, class: 'button-message', data: { turbo: false, toggle_target: "button", action: "click->toggle#closePopup" } %>
    </div>
  </div>
</div>
