<div class="subscription-step">
  <div class="progress-bar">
    <div class="progress-bar-fill" style="width: 33.33%;"></div>
  </div>

  <h2>Welcome <%= current_user.username.capitalize %>! <span>ðŸ‘‹</span></h2>
  <h3>Step 3: Select your skill(s)</h3>

  <%= simple_form_for @form_skill do |f| %>
    <% @categories.each do |category| %>
      <h4><%= category.name %></h4>

        <% category_ids = params[:categories].present? ? params[:categories][:name] : params[:user_profile_form_skill][:category_ids] %>

        <%= f.hidden_field :category_ids, value: category_ids %>

        <%= f.input :skill_ids,
                    as: :check_boxes,
                    collection: category.skills,
                    input_html: { class: "tag-selector" },
                    item_wrapper_class: 'tag-item',
                    include_hidden: false %>
      <% end %>
    <div class="form-navigation">
      <%= link_to 'â® PREVIOUS', "#", class: "btn" %>
      <%= f.button :submit, 'NEXT â¯', class: "btn" %>
    </div>
  <% end %>
</div>
