<div class="subscription-step">
  <div class="progress-bar">
    <div class="progress-bar-fill" style="width: 16.2%;"></div>
    <div class="progress-bar-fill" style="width: 16.2%;"></div>
    <div class="progress-bar-fill" style="width: 16.2%;"></div>
    <div class="progress-bar-empty" style="width: 16.2%;"></div>
    <div class="progress-bar-empty" style="width: 16.2%;"></div>
    <div class="progress-bar-empty" style="width: 16.2%;"></div>
  </div>

  <h2>Welcome <%= current_user.username.capitalize %>! <span>ðŸ‘‹</span></h2>
  <h4>Step 3: Select your skill(s)</h4>
  <div class="step-underline"></div>

  <%= simple_form_for @form_skill, html: { class: 'skills-wrapper'} do |f| %>
    <div class="user-skill-wrapper">
      <% @categories.each do |category| %>
        <h5><%= category.name %></h5>

          <% category_ids = params[:categories].present? ? params[:categories] : params[:user_profile_form_skill][:category_ids] %>

          <%= f.hidden_field :category_ids, value: category_ids %>

          <%= f.input :skill_ids,
                      as: :check_boxes,
                      collection: category.skills,
                      item_wrapper_class: 'tag-item',
                      input_html: { class: "tag-selector" },
                      include_hidden: false %>
        <% end %>
    </div>
    <div class="form-navigation">
      <%= link_to 'â® PREVIOUS', new_user_profile_user_skill_category_path, class: "btn" %>
      <%= f.button :submit, 'NEXT â¯', class: "btn" %>
    </div>
  <% end %>
</div>
