<div class="top">
  <h4>Step 3: Select your skill(s)</h4>
  <div class="skills-container">
  <%= simple_form_for @form_skill do |f| %>
    <% @categories.each do |category| %>
      <div class="category-name"><%= category.name %></div>
        <%= f.input :name,
                    as: :check_boxes,
                    collection: category.skills,
                    input_html: { class: "tag-selector" },
                    item_wrapper_class: 'tag-item' %>
      <% end %>
      <%= f.submit "Next Step" %>
    <% end %>
  </div>
</div>

<%# <div><% category.skills.each do |skill|</div> %>
  <%# <div><%= skill.name</div> %>
<%# <% end %>
