<div class="subscription-step">
  <div class="progress-bar">
    <div class="progress-bar-fill" style="width: 100%;"></div>
  </div>

  <h2>Welcome <%= current_user.username.capitalize %>! <span>👋</span></h2>
  <h3>Step 6 : What’s your maximum distance?</h3>
    <%= simple_form_for @user_distance_preference do |f| %>
    <div data-controller="distance_preference" data-action="onchange->distance_preference#connect">
      <%= f.input :distance_preference , as: :range, input_html: {
          min: 0,
          max: 100,
          step: 1,
          value: @user_distance_preference.distance_preference || 3,
          # onchange: "this.nextElementSibling.value = this.value"
        } %>
    </div>
        <output><%= @user_distance_preference.distance_preference %></output> km

      <%= f.submit "Start" %>
    <% end %>
