<div class="background">
  <%= render 'header_container' %>

  <div class="category-title">
    <p id="cat-title">Categories</p>
    <p id="cat-description">Choose a category</p>
  </div>

  <div class="category-container">
    <% if @categories.any? %>
      <div class="category-wrapper">
        <% @categories.each do |category| %>
          <%= link_to category_path(category), class: "category-link no-a-style" do %>
            <div class="category category-item_<%= category.name.downcase%>">
              <%= image_tag "#{category.name}.png", alt: "#{category.name} icon", class: "category-image" %>
              <div class="category-name"><%= category.name %></div>
            </div>
          <% end %>
      <% end %>
      </div>
    <% else %>
      <em>Sorry, no categories found.</em>
    <% end %>
  </div>
</div>
