<div class="user-profile-page">
  <div class="user-profile-header my-6">
    <div class="user-profile-info d-flex">
      <div><h2><%= @user.username.capitalize %></h2></div>
      <div>
        <%= link_to categories_path do %>
          <i class="fa-regular fa-square-caret-down nav-down"></i>
        <% end %>
      </div>
    </div>
  </div>

  <% if @user.photos.any? %>
    <div id="profilePhotos" class="carousel slide">
      <div class="carousel-indicators">
        <% @user.photos.each_with_index do |photo, index| %>
          <button type="button" data-bs-target="#profilePhotos" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>

      <div class="carousel-inner carousel-radius">
        <% @user.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= cl_image_tag photo.key, height: 330, width: 310, gravity: "face", crop: :fill, class: "d-block w-100 object-fit-cover" %>
            <%#= link_to "Delete", destroy_photo_user_profile_profile_path(photo), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#profilePhotos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#profilePhotos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
    <%= link_to edit_user_profile_user_description_path do %>
      <p class="add-photo"><i class="fa-solid fa-square-plus"></p></i>
    <% end %>
    <p>No photos uploaded yet.</p>
  <% end %>
<!---->
  <%#= simple_form_for @user, url: update_photos_user_profile_profile_path(current_user), method: :patch, html: { multipart: true } do |f| %>
    <%#= f.input :photos, label: "Upload your photo", as: :file, input_html: { multiple: true } %>
    <%#= f.button :submit, 'UPLOAD â¯', class: "btn" %>
  <%# end %>

  <div class="profile-sections-up mb-3">
    <div class="profile-section">
      <div class="headers">
      <h3>Who I Am</h3>
      <%= link_to edit_user_profile_user_description_path do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      </div>
      <p><%= @user.bio.presence || "Tell us more about yourself!" %></p>
    </div>

    <div class="profile-section">
      <div class="headers">
      <h3>My Skills</h3>
      <%= link_to edit_user_profile_user_skill_category_path do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      </div>
      <p>
        <% @skills.each do |skill| %>
         <div class="skill-tag"><%= skill.name %></div>
        <% end %>
      </p>
      <%= link_to new_user_profile_form_skill_path, class: "edit-link" do %>
        <i class="edit-icon"></i>
      <% end %>
    </div>

  </div>

</div>
<div class="user-profile-page-bottom">
  <div class="profile-sections-bottom">
    <div class="profile-section">
      <h3>Wanted skills</h3>
      <% @wanted_skills.each do |wanted_skill| %>
         <div class="wanted-skill-tag"><%= wanted_skill.name %></div>
      <% end %>
      <%= link_to new_user_profile_wanted_form_skill_path, class: "edit-link" do %>
        <i class="edit-icon"></i>
      <% end %>
    </div>
  </div>
</div>
