<!DOCTYPE html>
<html>
  <head>
    <title>SkillMatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="<%= asset_path 'hammer.min.js' %>"></script>
  </head>

  <body data-current-user-id="<%= current_user ? current_user.id : "" %>" style="<%= touch_action_style %>">
    <% if current_page?(root_path) || current_page?(users_path) %>
      <%= render "shared/navbar_avatar" %>
    <% end %>
    <%#= render "shared/flashes" %>
    <%= yield %>
    <% unless params[:controller].start_with?('user_profile/') || current_page?(new_user_registration_path) || current_page?(edit_user_registration_path) || current_page?(user_registration_path) || current_page?(root_path) %>
      <%= render "shared/navbar_bottom" %>
    <% end %>
  </body>
</html>
